version: "3.9"

services:
  db:
    image: postgres:15
    container_name: lostfound_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lostfound_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: lostfound_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: lostfound_backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  celery:
    build: ./backend
    container_name: lostfound_celery
    env_file:
      - ./backend/.env
    command: celery -A lostfound_backend worker --loglevel=info
    volumes:
      - ./backend:/app
    depends_on:
      - db
      - redis
    # don't expose ports for celery; we'll tail logs
  
  frontend-prod:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lostfound_frontend_prod
    ports:
      - "0.0.0.0:3000:3000"
    environment:
      - VITE_API_BASE_URL=http://localhost:8000/api
    depends_on:
      - backend


volumes:
  postgres_data:


