Django>=4.2
djangorestframework
psycopg2-binary
django-cors-headers
celery==5.3.4
redis==4.6.0
kombu==5.3.4
python-dotenv
djangorestframework-simplejwt
gunicorn
Pillow
django-filter
requests
pillow-heif
whitenoise